#myDiv{
width: 50px;
height: 50px;
background-color: #3498db;
color: #fff;
font-family: Arial, sans-serif;
font-size: 20px;
font-weight: bold;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
cursor: pointer;
transition: all 25 ease-out 100ms;
left: 10px;
top: 10px;
}